body {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.square {
    height: 100px;
    width: 100px;
}

.carddiv {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15;
}